<section class="px-4 overflow-auto flex-1">
  <table class="min-w-full bg-white rounded-lg text-sm">
    <thead class="bg-[#E3EEFB] border-b font-light text-gray-400">
      <tr>
        <td class="p-3 text-center">
          <input type="checkbox" class="form-checkbox h-4 w-4">
        </td>
        <th class="p-3 text-left font-normal">คำสั่งซื้อ</th>
        <th class="p-3 text-left font-normal">ช่องทาง</th>
        <th class="p-3 text-left font-normal">ชื่อลูกค้า</th>
        <th class="p-3 text-left font-normal">เบอร์โทรศัพท์</th>
        <th class="p-3 text-left font-normal">สินค้า</th>
        <th class="p-3 text-left font-normal">การจัดส่ง</th>
        <th class="p-3 text-left font-normal">สถานะพัสดุ</th>
        <th class="p-3 text-left font-normal">ยอดเงิน</th>
        <th class="p-3 text-left font-normal">การชำระเงิน</th>
        <th class="p-3 text-left font-normal">วันที่สั่งซื้อ</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of rows"
        class="border-b hover:bg-gray-50">
        <td class="p-3 text-center">
          <input type="checkbox" class="form-checkbox h-4 w-4 text-[#4E54A3]">
        </td>
        <td class="p-3">{{ row.id }}</td>
        <td class="p-3">{{ row.channel }}</td>
        <td class="p-3">{{ row.customer }}</td>
        <td class="p-3">{{ row.phone }}</td>
        <td class="p-3">{{ row.product }}</td>
        <td class="p-3 text-blue-600 underline">{{ row.delivery }}</td>
        <td class="p-3 text-green-600">{{ row.status }}</td>
        <td class="p-3">฿{{ row.amount }}</td>
        <td class="p-3 text-green-700">{{ row.payment }}</td>
        <td class="p-3">{{ row.date }}</td>
      </tr>
    </tbody>
  </table>
</section>
