<!-- Main content -->
  <main class="flex flex-col flex-1  w-full h-screen gap-4">
    <!-- Content -->
        <section class="w-128 flex flex-col p-4 bg-white m-4 rounded-xl shadow-md h-full ">
        <div class="relative  space-y-1 gap-2">
          <div class="flex gap-2 items-center px-4 ">
            <h1 class="text-lg font-normal text-[#232649]">Ads Insight</h1>
          </div>
          <div class="grid grid-cols-2 gap-2">
            <app-form></app-form>
          </div>

<div class="flex flex-col justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-48 h-48 gap-4">
</div>
 
      </div>
       </section>
  </main>

