.menu-item {
  @apply flex items-center justify-between py-2 px-3 hover:bg-[#373C74] rounded-md cursor-pointer transition-all;
}

.menu-item svg {
  @apply text-gray-200;
}

.menu-item span {
  @apply flex-1 ml-2 whitespace-nowrap;
}

.menu-item.active {
  @apply bg-[#373C74];
}

.dropdownArrow {
  @apply w-4 h-4 ml-2 transition-transform duration-200 text-gray-50;
}

.divider {
  @apply border-gray-600 my-4;
}

.menu-item.bottom {
  @apply sticky bottom-0 bg-[#232649] hover:bg-[#4E54A3];
}
